header {

    background-color: $color1; position: relative;

    // bandeau haut du header
    #pre-header{
        height: 30px; background: $color2; color: white; padding-top: 10px;
    }

    // englobe logo + titre + slogan
    .header__titles-wrapper{
        
        padding: 40px 50px 10px 50px; display: flex; align-items: center;

        @include media($br-point-2) {padding: 0 20px 10px 20px;}

        #header-main-logo {width: 100px; margin-right: 50px;
            @include media($br-point-2) {width: 50px; position: absolute; top: 35px; left: 20px; margin: 0;}
        }
        
        h1 {margin: 0; font-size: 200%;
            @include media($br-point-2) {margin-top: 60px;}
        }
        h2 {margin: 10px 0 0 0; font-size: 150%;}
    }

    // Bouton hamburger menu phone
    #toggle-menu-button{
        
        position: absolute; z-index: 2; top: 30px; right: 20px; background: none; border:none;
        
        svg {width: 30px;}

        path {transition: all .5s; transform-origin: 20% 50%;}

        &.active {

            position: fixed;

            path:nth-of-type(1) {transform: rotate(45deg);}
            path:nth-of-type(2) {opacity: 0;}
            path:nth-of-type(3) {transform: rotate(-45deg);}
        }
    }
}

.menu {
    margin: 0; padding: 0;
    li {list-style: none}
    a {display: block; padding: 5px; text-decoration: none; color: inherit;}
}

#header-menu-wide {
    display: flex; justify-content: center; width: 100%; gap: 20px; padding-bottom: 15px;;
    a {border: 1px solid black;}
}

#header-menu-phone {
    position: fixed; inset: 0; z-index: 1; background-color: #fff; width: 100%; padding: 50px; transform: translateX(100vw); transition: all .5s;
    &.active {transform: translateX(0);}
}