.is-root-container {font-family: sans-serif; line-height: 1.7rem;}
.edit-post-visual-editor__post-title-wrapper {border-bottom: 2px solid black; margin-top: 20px; font-family: sans-serif; text-align: center;}
.wp-block-group {border: 3px dotted darkgray; padding: 0 10px}